body section{
    margin: 80px;
}
body{
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
header{
    padding: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment:fixed;
    color: white;
}


#anglais{
    background-image: url(img/manuel.jpg);
}
#accueil{
    background-image: url(img/images-bibliotheque.jpg);
}
#math{
    background-image: url(img/manuel_math.jpg);
    
}
#pc{
    background-image: url(img/pc_image.png);
}
#hg{
    background-image: url(img/hg_image.jpg);
}
header h1{
    font-size: 40px;
    text-align: center;
}
    
header div{
    background-color: rgba(187, 187, 187, 0.3);
}

nav:not(.sommaire){
    background-color: #333;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
nav:not(.sommaire) a{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    position: relative;
}
nav:not(.sommaire) .nav_left{
    float: left;
}

nav:not(.sommaire) a:hover{
    background-color: #ddd;
    color: black;
}
 
h2{
    text-align: center;
    text-decoration: underline;
}
.matiere{
    background-color: white;
    border: 2px solid;
    border-radius: 4%;
    border-bottom: 5px solid;
    border-top-color: #d0ddee;
    border-left-color: #d0ddee;
    border-right-color: #d0ddee;
    position: relative;
    border-bottom-color: rgb(175, 186, 200);
    width: 180px;
    height: 200px;
}
.matiere:hover{
    border-bottom: 7px solid;
    border-bottom-color: rgb(175, 186, 200);
    top: -2px;
}
.matiere p{
    color: #333;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
}
.matiere img{
    width: 70px;
    height: 70px;
}
.matiere .logo_matiere{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}


.selecteur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

#nosCours{
    text-align: center;
    font-size: 30px;
}
footer{
    background-color: #333;
    overflow: hidden;
}
footer a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
footer a:hover{
    background-color: #bbb;
    padding: 14px;
    color: black;
}
h3{
    color: red;
}

h4{
    text-decoration: underline;
}
.sommaire{
    background-color: #bbb;
    width: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid;
}
nav a img{
    width: 30px;
}
.fit{
    width: 600px;
}
